<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <header><%- include('../partials/navbar.ejs') %></header>
    <h2 class="title">Update a Book in My Lybrary</h2>
    <% if(book!==null) { %> 
    <%- include('../partials/update_form.ejs'), {book:book}%> <%}else{%>
        <%- include('../partials/find_book.ejs')%> 
        <%}%>

    <footer><%- include('../partials/foot.ejs')%></footer>
  </body>
</html>
