<div class="book_card card" style="width: 23rem;margin: 2.7%;">
  <img class="card-img-top coverimg" id="coverimg" alt="<%= book.name %>" style="height: 30vh;"/>
  <div class="card-body">
    <h3 class="card-title"><%- book.name %></h3><hr>
    <p class="card-text">
      Author: <%- book.author %> <br />
      Edition: <%- book.edition %> <br />Subject: <%- book.subject %> <br />
      Copies: <%- book.copies %>
    </p>
  </div>
</div>
